@model Portfolio.Models.Image

<fieldset>
    <legend>Project Thumbnail</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.Src)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Src)
        @Html.ValidationMessageFor(model => model.Src)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Caption)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Caption)
        @Html.ValidationMessageFor(model => model.Caption)
    </div>
</fieldset>