@using MarkdownSharp
@model Portfolio.Models.Project
           
@{
    ViewBag.Title = @Model.Name + " | Projects | Daniel Poindexter";
    var markdown = new Markdown();
}

@section article {

<article id="project" class="grid_12">
    <section class="project-nav" style="">
        <section id="thumbnails">
            <img src="@Url.Content("~/img/elements/back-key.png")" class="keys" id="back-key" alt=" " data-bind="attr: { src: (afterFirst()) ? backKeyStates.normal : backKeyStates.disabled }, click: movePrevious"/>
            <!-- ko foreach: images -->
            <a class="thumbnail-graphic" data-bind="click: $parent.moveTo"><img data-bind="attr: { src: $parent.isActive($data) }" alt=" "/></a>
            <!-- /ko -->
            <img src="@Url.Content("~/img/elements/next-key.png")" class="keys" id="next-key" alt=" " data-bind="attr: { src: (beforeLast()) ? nextKeyStates.normal : nextKeyStates.disabled }, click: moveNext"/>
        </section>
        <h3>@Model.Name</h3>
    </section>
    <section id="gallery">
        <figure>
            <a id="gallery-previous" class="gallery-nav" data-bind="hoverclass: 'active', css: { inactive: !afterFirst() }, click: movePrevious"></a>
            <a id="gallery-next" class="gallery-nav" data-bind="hoverclass: 'active', css: { inactive: !beforeLast() }, click: moveNext"></a>
            <img data-bind="attr: { src: current().src, alt: current().caption }" width="719"/>
            <figcaption data-bind="text: current().caption"></figcaption>
        </figure>
    </section>
    <section class="grid_4" id="overview">
        <h4>Overview</h4>
        <dl>
            <dt>Client</dt>
            <dd>@Model.Client</dd>
            <dt>Site</dt>
            <dd><a href="@Model.SiteUrl" target="_blank">@Model.SiteUrl</a></dd>
            <dt>Disciplines</dt>
            <dd>
                @foreach (var str in (Model.Keywords ?? "").Split(new char[] {','}, StringSplitOptions.RemoveEmptyEntries).Select(s => s.Trim())) { 
                    <span class="tag">@str</span>
                }
            </dd>
            <dt>Technologies</dt>
            <dd>
                @foreach (var str in (Model.Technologies ?? "").Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries).Select(s => s.Trim()))
                { 
                    <span class="tag">@str</span>
                }
            </dd>
        </dl>
    </section>
    <section class="grid_8" id="description">
        <h4>About the project</h4>
        <p>@Html.Raw(markdown.Transform(Model.Description))</p>
    </section>
</article>

}

@section scripts {

<script type="text/javascript" src="@Url.Content("~/Scripts/gallery.js")"></script>
<script type="text/javascript">

    var imageData = @Html.Raw(Json.Encode(Model.ImagesToIndexedJson()));
    var gallery = new Gallery(imageData);

    ko.applyBindings(gallery);

</script>

}

