@{
    var controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString().ToUpperInvariant();
    var work = (controller == "WORK") ? "arrow active" : "arrow";
    var resume = (controller == "RESUME") ? "arrow active" : "arrow";
    var about = (controller == "ABOUT") ? "arrow active" : "arrow";
}

<a href="@Url.Action("Index", "Work")">
    Work
    <span class="@work"></span>
</a>

<a href="@Url.Action("Index", "Resume")">
    Résumé
    <span class="@resume"></span>
</a>

<a href="@Url.Action("Index", "About")">
    About
    <span class="@about"></span>
</a>

<!--
<a data-controls-modal="contact-modal" data-backdrop="static">
    Contact
    <span class="arrow"></span>
</a>
-->